# Copy this file to terraform.tfvars and customize the values
aws_region           = "us-east-1"
api_name            = "prime-checker-api"
stage_name          = "dev"
lambda_function_name = "prime-checker"